*
{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --white: #F6F4EB;
    --lightblue: #91C8E4;
    --darkblue: #749BC2;
    --blue: #4682A9;
}

a {
    color: black;
}

a:visited {
    color: black;
}

.Selection h2 {
    padding-bottom: 5%;
}

/*expanded the area to match with the button to be clicked*/
.buttonStudent {
    padding: 16% 10%; /*padding: vertical% horizontal%*/
}

.buttonInstructor {
    padding: 16% 21%;
}

.buttonCourses {
    padding: 16% 25%;
}

.buttonTaught {
    padding: 16% 0%;
}

.buttonSection {
    padding: 16% 27%;
}

.buttonGTA {
    padding: 16% 37%;
}

.buttonGRA {
    padding: 16% 36%;
}

.buttonTT {
    padding: 16% 42%;
}

/*
.buttonCommittee {
    background-color: maroon;
    padding: 0% 0%;
}
*/

.buttonGrants {
    padding: 16% 30%;
}

/*
.buttonAssociated {
    background-color: maroon;
    padding: 0% 0%;
}
*/

.buttonScholarship {
    padding: 16% 14%;
}

/*
.buttonSupport {
    background-color: maroon;
    padding: 0% 0%;
}
*/

.buttonSelf {
    padding: 16% 11%;
}

.buttonMilestone {
    padding: 16% 21%;
}

/*
.buttonPassed {
    background-color: maroon;
    padding: 0% 0%;
}
*/

button {
    background-color: var(--lightblue);
    padding: 0.5%;
    margin: 0.5rem;
}

button:hover {
    transform: scale(1.1, 1.1);
}

.Selection {
    padding-top: 5rem;
}

.Selection button {
    width: 100px;
    height: 50px;
}

.Selection ul {
    column-count: 4;
}

h1 {
    background-color: var(--blue);
    color: var(--white);
    padding: 1%;
}

form {
    padding: 1%;
    display: grid;
    place-items: center;
    width: 100%;
}

.form label, input {
    text-align: center;
}

.form input, label {
    padding-top: 1%;
}

/*expanding the clicking zone to fill the box*/
.return {
    padding: 4% 0%;
}

body {
    background-color: var(--white);
    text-align: center;
    color: var(--darkblue);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto; /*keeps footer at bottom*/
}

.item a {
    text-decoration: none;
    width: 2.1rem;
    height: 2.1rem;
    background-color: #f0f9fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid var(--white);
    overflow: hidden;
}

.item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
}
  
  .item:hover a::before {
    scale: 1 1;
}

.icon {
    font-size: 1.5rem;
    color: hsl(203, 92%, 8%);;
    z-index: 2;
}

.item a:hover .icon {
    color: #fff;
}
  
.item:nth-child(1) {
    --bg-color: hsl(203, 92%, 8%);
}

footer {
    position: relative;
    /*bottom: 0;*/
    width: 100%;
    background: var(--darkblue);
    min-height: 100px;
    color: var(--white);
    padding: 20px 50px;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}
