*
{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --white: #F6F4EB;
    --lightblue: #91C8E4;
    --darkblue: #749BC2;
    --blue: #4682A9;
}

h1 {
    background-color: var(--blue);
    color: var(--white);
    padding: 1%;
}

form .label, .input{
    text-align: center;
}

body {
    background-color: var(--white);
    text-align: center;
    color: var(--darkblue)
}

footer {
    position: relative;
    /*bottom: 0;*/
    width: 100%;
    background: var(--darkblue);
    min-height: 100px;
    color: var(--white);
    padding: 20px 50px;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
  }